@{
    ViewBag.Title = "KKS";
    Layout = "";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/mapEvent.js"></script>
<script src="~/Scripts/ajax_jquery.js"></script>


<div class="w3-container">
    <div>
        <ul id="personel"></ul>
    </div>
</div>

<div class="w3-container">
    <div>
        <ul id="gps_data"></ul>
    </div>
</div>